<!-- Contact Section (reused from home.html) -->
<section id="contact" class="contact">
  <div class="container contact-wrapper">
    <form class="contact-form">
      <h3>Contact</h3>
      <p>Leave a message or email me for inquiries.</p>
      <input style="border-radius: 5px;" type="text" placeholder="Name" />
      <input style="border-radius: 5px;" type="email" placeholder="Email" />
      <textarea style="border-radius: 5px;" placeholder="Message"></textarea>
      <a onclick="window.location.href=' mailto: munirajgowdaraj@outlook.com?subject=Testing out mailto! &body=This is only a test!'"
         class="button button--flex">
         <button style="border-radius: 5px;" type="submit">Submit</button>
      </a>
    </form>
    <div class="contact-info">
      <p>📍 Bangalore, Karnataka</p>
      <p>📱 +91 8296158346</p>
      <p>✉️ munirajgowdaraj@outlook.com</p>
    </div>
  </div>
</section>


<!-- Footer -->
<footer>
  <div class="footer-social-media">
  {% if external_links %}
  <div class="external-links" style="display: flex; gap: 15px;">
    {% for link in external_links %}
      <a class="footer-social-links" href="{{ link.url }}" target="_blank" title="{{ link.name }}">
        <i class="{{ link.icon_class }}" style="font-size: 24px;"></i>
      </a>
    {% endfor %}
  </div> 
{% endif %}  
</div>
<br>
  <p>© Muniraju B R. All right reserved</p>
</footer>

</body>
</html>
