/* Header */
header {
  background: #eee;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  justify-content: flex-end;
  align-items: center;
}

header h1 {
  display: inline-block;
  font-weight: bold;
}

nav {
  float: right;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

nav a.active {
  font-weight: bold !important;
  text-decoration: none;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}