/* Hero */
.hero {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 50px 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.intro {
  flex: 1;
}

.intro h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.intro .role {
  font-weight: bold;
}

.intro .description {
  margin: 20px 0;
}

.btn {
  background: #111;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.btn1 {
  background: #111;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

.profile-photo img {
  width: 250px;
  border-radius: 5px;
}


.home-social-media {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 20px;
}

.home-social-links {
  display: flex;
  justify-content: left;
  gap: 20px;
  align-items: left;
  color: #fff;
}

.home-social-links.dark {
  display: flex;
  justify-content: left;
  gap: 20px;
  align-items: left;
  color: #121212;
}