/* Projects Section */
.projectsection{
  margin:  50px;
}

.projects {
  padding: 10px 0 ;
  justify-content: center;
  align-items: center;
}
.projectsview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectlist{
  text-align: center;
}

.projects h2 {
  margin-bottom: 10px;
}

.filter {
  margin: 20px 0;
}

.filter span {
  margin: 0 10px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
}

.filter .active {
  font-weight: bold;
  text-decoration: none;
}

.filter-options {
  margin: 20px 0;
}

.filter-options a {
  margin: 0 10px;
  cursor: pointer;
  color: #333;
  font-weight: 500;
  text-decoration: none;
}

.filter-options .active {
  font-weight: bold;
  text-decoration: none;
}

.project-grid {
  display: flex;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;  
  margin-top: 30px;
}

.project-item{
  gap: 10px;
}

.project-item img {
  aspect-ratio: 5 / 4;
  object-fit: cover;
  width: 400px;
  overflow: hidden;
  display: block;
  border-radius: 5px;
}

.project-item p {
  margin-top: 10px;
  color: #111;
}

.caption{
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
   */
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}

.imgtitle {
  text-align: left;
  font-size: 17px;
}

.imgcat {
  text-align: right;
}

.project{
  border-radius: 5px;
  padding: 1%;
  width: 400px;
}

