/* Light mode styles */
.project-detail-body {
  padding: 60px 0;
  background-color: #f4f4f4;
}

.project-thumbnail-wrapper {
  width: 100%;
  aspect-ratio: 5 / 4;
  border-radius: 10px;
  overflow: hidden;
  padding: 1%;
  box-sizing: border-box;
}

.project-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.project-meta {
  margin-top: 30px;
}

.project-meta h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #121212;
}

.project-description {
  font-size: 15px;
  color: #121212;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-link {
  display: inline-block;
  background: #000000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.root {
  text-decoration: none;
  color: #121212;
}
.arrow-icon {
  font-size: 24px;
  line-height: 1;
  display: inline-block;
  margin-right: 8px;
  transform: translateY(2px); /* align vertically if needed */
}

/* Dark mode styles */
.dark .project-detail-body {
  background-color: #121212;
}

.dark .project-meta h2,
.dark .project-description,
.dark .root {
  color: #f4f4f4;
}

.dark .project-link {
  background: #fff;
  color: #222;
}
