{% extends 'base/base.html' %}

{% block content %}

<!-- Achievements Section -->
<section class="achievements">
    <div class="container">
        <h2>Achievements</h2>
        <!-- Filter Options -->
        <div class="filter-options">
            <a href="?category=All" class="{% if selected_category == 'All' %}active{% endif %}">All</a>
            {% for category in categories %}
            <a href="?category={{ category.achiveCat_name }}"
                class="{% if selected_category == category.achiveCat_name %}active{% endif %}">
                {{ category.achiveCat_name }}
            </a>
            {% endfor %}
        </div>

        <div class="achievement-grid">
            <!-- Each achievement -->
            {% for achievement in achievements %}
            <div class="achievement-item">
                <img src="{{ achievement.thumbnail_image.url }}" alt="{{ achievement.title }}" />
                <div class="caption">
                    <p class="imgtitle">{{ achievement.title }}</p><p class="imgcat"> ({{ achievement.category }})</p>
                  </div>
            </div>
            {% empty %}
            <p>No achievements available in this category.</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}