{% extends 'base/base.html' %}

{% block content %}
<!-- Project Detail -->
<section class="project-detail-body">
  <div class="container"> 
    <div class="breadcrumb">
      <a class="root" href="{{ request.GET.next|default:'/' }}">
        <span class="arrow-icon">←</span>
      </a>
      Projects / {{ project.category }} / {{ project.title }}
    </div>

    <div class="project-thumbnail-wrapper">
      <img src="{{ project.thumbnail_image.url }}" alt="{{ project.title }}" class="project-thumbnail" />
    </div>

    <div class="project-meta">
      <h2>{{ project.title }}</h2>
      <p class="project-description">
        {{ project.description|safe|linebreaksbr }}
      </p>

      {% if project.project_link %}
  <a href="{{ project.project_link }}" class="project-link" target="_blank">
    <img src="{{ project_favicon }}" alt="Favicon" style="vertical-align: middle; height: 20px; margin-right: 8px;">
    {{ project_domain }}
  </a>
{% endif %}
    </div>
  </div>
</section>
{% endblock %}
